.study-section {
  margin-top: 1.25rem;
  border: 2px solid #e6e6e6;
  border-radius: 0.7rem;
  width: 80%;
  padding: 0.7rem;
}

.MyStudy-list-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2rem;
}

.study-status-filter {
  display: flex;
  margin-left: 1rem;
}

.status-btn {
  padding: 0.4rem;
  border: none;
  background: none;
  font-size: 0.87rem;
  cursor: pointer;
  position: relative;
  margin-right: 1rem;
}

.status-btn:hover {
  border-bottom: 3px solid #8d9429;
  color: #8d9429;
}
.status-btn:active {
  border-bottom: 3px solid #8d9429;
  color: #8d9429;
}

.status-btn.active {
  border-bottom: 3px solid #8d9429;
  color: #8d9429;
}
