<<<<<<< Updated upstream
/* 신청하기 버튼 */
=======
>>>>>>> Stashed changes
.apply-button {
  background-color: #dadeaa;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.apply-button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

<<<<<<< Updated upstream
.button-box {
  display: flex;
  justify-content: end;
=======
.study-recruit_button-box {
  display: flex;
  justify-content: flex-end;
>>>>>>> Stashed changes
}
