.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.sidebar-container {
  /* flex: 0 0 300px; */
  width: 23%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-container {
  /* position: relative; */
  margin-left: 23%;
  flex: 1;
  padding: 1rem;
  /* overflow-y: auto; */
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  align-items: flex-start;
}
