.study-create-page{
    padding: 0 10em;
    padding-top: 3em;
    font-family: "둥글";
}

.form-title{
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;
}

.top-box{
    width:100%;
    border: 1px solid lightgray;
    border-radius: 1.5%;
    padding: 1em;
}

.category-button{
    border:none;
    background-color: rgba(217,217,217,255);
    border-radius:10%;
    color:rgba(122,122,122,255);
    padding: 0.2em 1.2em;
    margin-right: 0.3em;
}


.interest-badge{
    padding: 0.3em 0.8em;
    background-color: beige;
    border-radius: 25%;
    font-size: 0.8em;
    margin-right: 0.4em;
}

.navigate-section{
    display: flex;
}

.tablee{
    border:1px solid black
}