/*TopImage CSS*/
.top-background-image {
  width: 100%;
  border-radius: 17px;
  /* height: 20em; */
}

/*CharacterSection CSS*/
.top-left-box {
  width: 70%;
}

/*Study Note CSS*/
.top-right-box {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.work-status-section {
  width: 100%;
  background-color: #f5f5f5;
  padding: 1em;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: #3f4040;
}

.content-title {
  font-weight: bold;
  color: #4c4e33;
  text-decoration: underline;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.status-list {
  list-style-type: none;
  padding-inline-start: 0em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 2em;
}

.work-item {
  padding-left: 0.7em;
  margin-bottom: 0.3em;
  font-size: 0.9em;
}

.circle {
  margin-right: 0.3em;
  width: 0.6em;
  height: 0.6em;
  border-radius: 100%;
}

.green-circle {
  background-color: #8d9429;
}

.gray-circle {
  background-color: gray;
}

/*Study Column CSS*/
.category-studies-list {
  width: 50%;
  padding: 0 2em;
  /* padding-right: 5em; */
}

.category-title-row {
  display: flex;
  align-items: center;
  font-family: "Pretendard-Bold";
  margin-bottom: 0.5em;
}

.category-green-circle {
  margin-right: 0.6em;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: #8d9429;
}

.category-title {
  font-size: 1.2em;
}

.see-more-row {
  justify-self: flex-end;
  font-size: 0.9em;
  margin-bottom: 0.5em;
  /* font-family: "Pretendard-Bold"; */
}

.see-more-row:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: ease-in-out 0.1s;
}

/*Category Row CSS*/
.study-item {
  box-sizing: border-box;
  background-color: #e8e8e8;
  width: 100%;
  /* margin: 1rem auto; */
  /* border: 1px solid #ccc; */
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.7em 1.1em;
  padding-bottom: 1em;
  margin-bottom: 0.8em;
}

.study-item:hover {
  transform: scale(1.08, 1.04);
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.item-badge-section {
  margin-bottom: 0.3em;
  display: flex;
}

.list-badge-style {
  background-color: white;
  padding: 0.4em 0.8em;
  border-radius: 1.5em;
  font-size: 0.5em;
  margin-right: 0.7em;
}

.recruit-badge {
  background-color: #afb476;
  color: white;
}

.study-item-title-section {
}

.study-item-title {
  /* font-weight: bold; */
  color: #191919;
  font-size: 1rem;
  margin-bottom: 0.3em;
}

.study-item-subtitle {
  font-size: 0.6em;
}

.study-item-button-section {
  display: flex;
  align-items: center;
}

.study-item-icon {
  font-size: 1em !important;
  margin-right: 0.2em;
}

.icon-number {
  font-size: 0.7em;
  margin-right: 0.9em;
}

/*Study Carousel CSS*/
.carousel-section-title{
  font-size:1.8em;
  color:#4C4E33;
  font-family: "Pretendard-Bold";
  margin-bottom: 0.6em;
}

.carousel-container{
  padding: 0 3em;
}

.carousel-inner-container{
  padding-bottom: 1.5em;
  /* margin: 3em; */
}


/*Carousel Item CSS*/
.carousel-item-box{
  background-color: #DADEAA; 
  width: 16em;
  padding: 1em;
  padding-bottom: 1.5em;
  border-radius: 1em;
  color: #7A7A7A;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 
              -5px -5px 15px rgba(255, 255, 255, 0.3);
  margin-bottom: 1em;
}

.carousel-item-box:hover{

}

.carousel-top-row{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2em;
}

.carousel-sub-category{
  all: unset;
  /* font-size: 1em; */
  font-family: "Pretendard-Bold";
}

.carousel-passion-temp{
  all:unset;
  font-size: 0.6em;
}

.carousel-title-row{
  /* all:unset; */
  font-size: 1.6em;
  font-family: "Pretendard-Bold";
  margin-bottom: 0.3em;
  color:#616060;
}

.carousel-blog-title{
  margin-bottom: 0.15em;
  color: #4C4E33;
  font-size: 0.95em;
}

.carousel-icon-row{
  display:flex;
  font-size:0.8em;
  align-items: center;
}

.carousel-item-icon{
  font-size: 1em !important;
  margin-right: 0.2em;
}

.carousel-icon-number{
  margin-right: 0.8em;
}