.category-studies-list{
    width:50%;
}

.category-title-row{
    display:flex;
    align-items:center;
    font-family:"Pretendard-Bold";
}

.category-green-circle {
  margin-right: 0.6em;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: #8d9429;
}

.category-title{
    font-size: 1.2em;
}

.see-more-row{
    justify-self: flex-end;
}