.signup-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30%;
}

.signup-form-title{
    text-align: center;
    font-weight: bold;
    color: #8D9429;
    margin-top: 3em;
    margin-bottom: 0.8em;
}

.signup-container{
    border: 1.5px solid rgba(215,215,215,255);
    border-radius: 1em;
    /* height: 100em; */
    padding: 2em 5em;
}

.signup-input-section{
    display:flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.signup-input-title{
    font-size: 1em;
    margin-bottom: 0.2em;
}

.signup-input-style, .major-dropdown-style{
    border: 1.5px solid rgba(199,199,199,255);
    flex:1;
    border-radius: 0.3em;
    padding: 0.5em 0.8em;
    margin-bottom: 0.5em;
}

.half-width{
    width: 60%;
}

.major-dropdown-style{
    width: 100%;
    background-image: url("./images/down-arrow.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    margin-bottom: 1.5em;
}

select option:first-child{
    color: rgba(201,201,201,255);
}

.signup-input-style::placeholder{
    color: rgba(201,201,201,255);
}

.navigate-section{
    display:flex;
    justify-content: flex-end;
    padding: 1em 0;
}

.navigate-button{
    margin-right: 0.5em;
    border:none;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    color: rgba(128,128,128,255);
}

.navigate-button:hover{
    opacity: 0.4;
}

.navigate-button:active{
    opacity:0.8;
}


/* .custom-dropdown {
    background-image: url("./images/down-arrow.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
} */



/* 드롭다운 화살표 없애기 */
.major-dropdown-style{
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none;    /* Firefox */
    appearance: none;         /* Standard */
}


/* number input창 화살표 없애기 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 파이어폭스 브라우저 */
input[type="number"] {
  -moz-appearance: textfield;
}