@font-face{
    font-family: 'Pretendard-Regular';
    font-style: 'normal';
    src: url('./fonts/Pretendard-Regular.otf');
}

@font-face{
    font-family: 'Pretendard-Bold';
    font-style: 'normal';
    src: url('./fonts/Pretendard-Bold.otf');
}

.font-regular{
    font-family: 'Pretendard-Regular';
}

.font-bold{
    font-family: 'Pretendard-Bold';
}

.text-color{
    color:#191919;
}

.sub-text{
    color: #7A7A7A;
}