

.navbar{
    /* position: fixed;
    width:100%; */
    display: flex;
    justify-content:space-between;
    height:3em;
    background-color: rgba(218,222,170,255);
    display: flex;
    align-items: center;
}

.site-title-section{
    color:white;
    font-weight:600;
    margin-left:5em;
}

.user-section{
    display: flex;
    margin-right: 5em;
    font-size: 0.8em;
}

.profile-image{
    width: 1.5em;
    background-color: white;
    border-radius: 1.5em;
    margin-right: 0.5em;
}